.app{
  width: 100%;
}

.marker{
  width: 110px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.49);
  
}

.marker img{
  width: 20px;
  height: 20px;
}

.marker p{
  width: 100%;
  font-size: 13px;
  margin: 0;
}

.container{
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.input{
  width: 150px;
  height: 40px;
  border: 2px solid rgb(130, 130, 226);
  margin: 5px 0;
}